@font-face {
   font-family: 'Castellar Regular';
   font-display: swap;
   src: url('file:///C:/Users/Mariu/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-04-24_195052/fonts/Castellar%20Regular/font.ttf');
}
